<template id="konamicode">
	<div class="container mx-auto px-10 pt-10">
        <div class="text-xl grid grid-cols-2">
            <img class="mx-auto" src="/dagothur_by_wolfdragon666on_on_reddit.png" />
            <!--<p class="font-bold text-2xl">"What game do you prefer?"</p>-->
            <div class="border-2 border-black my-auto p-10 rounded-lg">

                <div id="intro">
                    <h2 class="text-3xl font-bold">Dagoth Ur easter egg</h2><br />
                    Congratulations! You found an easter egg! This is a little dialogue between a mixture of me & Dagoth Ur.
                </div>

                <p id="speechBubble" class=""></p>
            </div>
        </div>

        <div id="speechOptions" class="mt-10 flex flex-row mx-auto gap-6 text-2xl justify-center">
            <button aria-label="start" class="p-5 bg-black text-beige rounded-xl font-bold" onclick="start()">[ Start ]</button>
            <!--<button aria-label="showcase" class="p-5 bg-black text-beige rounded-xl font-bold">Through a showcase</button>
            <button aria-label="blog" class="p-5 bg-black text-beige rounded-xl font-bold">From a blog post</button>
            <button aria-label="something_i_made" class="p-5 bg-black text-beige rounded-xl font-bold">Through one of your projects</button>-->
        </div>
    </div>

	<script is:inline>

		const sleep = (milliseconds) => {  
			return new Promise(resolve => setTimeout(resolve, milliseconds));  
		}
	
		const introduction = {
			reply: "Strange. This outcome I did not forsee. That you would use the konami code. In any case, come, Nerevar. Friend or traitor, come. Come and look upon the heart.\nIt began here, it will end here. Have you any parting words, or would you prefer to skip the speeches and get to our business? You are the challenger here after all, so to you goes the curtousy of the first blow.",
			audio: "introduction.mp3"
		}
	
		const userQuestions = [
			{
				question: "What country are you from?",
				reply: "Latvia Latvia Latvia Latvia Latvia Latvia Latvia Latvia Latvia Latvia Latvia Latvia Latvia Latvia Latvia Latvia Latvia Latvia ",
				audio: "latvia.mp3",
				id: "latvia"
			},
			{
				question: "What is your favourite game?",
				reply: "Even though Dagoth Ur is from Morrowind, and Skyrim being the more popular game, I prefer Oblivion. There is a certain charm to it. It's quests are fun and silly, the characters are perfect and the setting is great. Even if you play just one playthrough of it, even if you're an adult, you will still feel nostalgia for Oblivion, and that is an indicator for a quality game. Morrowind has something similar, but Skyrim doesn't. Maybe that is because I have played Skyrim more than the rest of the games, but Skyrim has always felt more bland in comparison. It takes itself too seriously and doesn't let people do a quest inside of a painting like Oblivion.",
				audio: "game.mp3",
				id: "game"
			}
		]
	
		const questions = [
			{
				question: "Before you go, I have some questions of my own. My first question is: Who are you really.",
				audio: "questions/first/question.mp3",
				replies: [
					{
						answer: "An employed developer",
						reply: "Then I salute you for your faithful service to your lord. And I curse you and your companies as my enemies, for your data stealing and spoiling the internet and degrading the attention-span of the entire human race.",
						audio: "questions/first/answers/socialmedia.mp3",
						id: "socialmedia"
					},
					{
						answer: "A freelancer",
						reply: "While the industry is cold, hard and punishing, I hope you are holding up alright. You are an entertainer, one of the most important professions in the world. Without music the world would be dull and monotonous, but you are one of the many beautiful people who create, inspire and change the world for the better.",
						audio: "questions/first/answers/freelancer.mp3",
						id: "freelancer"
					}
				]
			},
			{
				question: "My second question is: how have you discovered me? Was it through a showcase, a blog post that interested you or do you already use one of my creations?",
				audio: "questions/second/question.mp3",
				replies: [
					{
						answer: "Through a showcase",
						reply: "I see. Thank you for clicking on the showcase, and I hope you enjoy what I have made, whether that be one of my websites, APIs, packages or blog posts.",
						audio: "questions/second/answers/showcase.mp3",
						id: "showcase"
					},
					{
						answer: "Through your blog",
						reply: "I see. Thank you for reading my blog and being invested enough to go to my website. I hope that you can enjoy what I've made, whether that be one of my websites, APIs, packages or blog posts.",
						audio: "questions/second/answers/blog.mp3",
						id: "blog"
					}
					,
					{
						answer: "Through something you made",
						reply: "I see. Thank you for already using something I've made. I hope that you enjoy it and can enjoy the rest of what I've made, whether that be one of my websites, APIs, packages or blog posts.",
						audio: "questions/second/answers/somethingimade.mp3",
						id: "somethingimade"
					}
				]
			}
		]
	
		let playingAudio = new Audio();
	
		const playAudio = (path, text, cb) => {
			cb ?? (() => {})
	
			if (!playingAudio.ended) playingAudio.pause()
	
			playingAudio = new Audio(path)
	
			document.getElementById("speechBubble").innerHTML = text
	
			playingAudio.onended = cb
	
			playingAudio.play()
		}
	
		let base = "/dagoth/"
	
		const start = () => {
	
			document.getElementById("intro").outerHTML = ""
	
			playAudio(base + introduction.audio, introduction.reply)
	
			let html = userQuestions.map(q => (
				`<button aria-label="${q.id}" class="transition ease-in-out p-5 bg-black text-beige rounded-xl font-bold">${q.question}</button>`
			))
	
			document.getElementById("speechOptions").innerHTML = html.join("") + `<button aria-label="continue"  class="p-5 bg-black text-beige rounded-xl font-bold">[ Continue ]</button>`
		}
	
		document.addEventListener("click", (e) => {
			if (e.srcElement.localName !== "button") return
	
			let dialogueOption = e.srcElement.attributes[0].value
	
			if (dialogueOption === "start") return
	
			if (dialogueOption.startsWith("1st_")) {
	
				let q = questions[0].replies.find(item => item.id === dialogueOption.replace("1st_", ""))
	
	
				document.getElementById("speechOptions").innerHTML = ""
	
	
				playAudio(base + q.audio, q.reply, async () => {
					await sleep(1000)
	
					playAudio(base +  questions[1].audio, questions[1].question)
	
					let html = questions[1].replies.map(q => (
						`<button aria-label="2nd_${q.id}" class="p-5 bg-black text-beige rounded-xl font-bold">${q.answer}</button>`
					))
	
					document.getElementById("speechOptions").innerHTML = html.join("")
				})
	
				return
			}
	
			if (dialogueOption.startsWith("2nd_")) {
	
				let q = questions[1].replies.find(item => item.id === dialogueOption.replace("2nd_", ""))
	
				document.getElementById("speechOptions").innerHTML = ""
	
				playAudio(base + q.audio, q.reply, async () => {
					await sleep(1000)
	
					playAudio(base + "more_to_say.mp3", "Have you something more to say? Actually, no, I am done talking with you. I hope you enjoyed this chat as we have nothing else to discuss. Goodbye.", () => {
						document.getElementById("speechOptions").innerHTML = `<button aria-label="start" class="p-5 bg-black text-beige rounded-xl font-bold" onclick="start()">[ Restart ]</button>`
					})
				})
	
				return
			}
	
			if (dialogueOption !== "continue") {
	
				let q = userQuestions.find(item => item.id === dialogueOption)
	
				playAudio(base + q.audio, q.reply)
	
				document.getElementById("speechBubble").innerHTML = q.reply
	
				return
			}
	
			if (dialogueOption === "continue") {
	
				playAudio(base + questions[0].audio, questions[0].question)
	
				let html = questions[0].replies.map(q => (
					`<button aria-label="1st_${q.id}" class="p-5 bg-black text-beige rounded-xl font-bold">${q.answer}</button>`
				))
	
				document.getElementById("speechOptions").innerHTML = html.join("")
	
				return
			}
	
			console.log(questions[0].replies, dialogueOption.replace("1st_", ""))
	
	
	
		})
		const playSound = (url) => {
			new Audio("/dagoth/questions/second/answers/blog.mp3").play()
	
			document.getElementById("speechBubble").innerHTML = "I see. Thank you for reading my blog and being invested enough to go to my website. I hope that you can enjoy what I've made, whether that be one of my websites, APIs, packages or blog posts."
		}
	</script>
</template>

<script>
	const konamiCode = [38, 38, 40, 40, 37, 39, 37, 39, 66, 65];
	let entered: number[] = [];

	document.addEventListener("keydown", (e) => {
		entered.push(e.keyCode);
		// @ts-ignore
		if (entered.toString().indexOf(konamiCode) >= 0) {
			entered = [];
			testFunc();
		}
	});

	function testFunc() {
		console.log("Konami code entered!");

		console.log(document.getElementsByClassName("d-section"))

		let main = document.getElementsByTagName("main")[0]

		main.innerHTML = ""

		main.appendChild(document.getElementById("konamicode").content.cloneNode(true))
		

		//window.location.href = "/AHJSdgas78d6sa78dasjhdgsadhjsagdjakshdghj"
	}
</script>