---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import Navbar from '../components/Navbar.astro';
import Section from '../components/Section.astro';
import Twemoji from '../components/Twemoji.astro';
import getNPMPackages from '../util/npm';
import ProjectCard from '../components/ProjectCard.astro';


const npm = await getNPMPackages()

let currentDate = new Date() // I cannot be arsed to update the website every year so I made this to basically auto calc the time between when I started web and full-stack dev
let currentYear = currentDate.getFullYear()

let dates = {
	startedWebDev: currentYear - 2019,
	startedFullStackDev: currentYear - 2020
}

let work = [
	{
		date: "2022",
		name: "Utilities",
		description: "Various utilities that might come in handy",
		url: "https://utilities.exerra.xyz"
	},
	{
		date: "2022",
		name: "Shortener",
		description: "Quick and secure URL service integrating Exerra Phishing Check for unparalleled user protection",
		url: "https://s.exerra.xyz"
	},
	{
		date: "2022",
		name: "Benchmarks",
		description: "GPU benchmarks for games ranging from indie platformers to AAA shooters.",
		url: "https://benchmarks.exerra.xyz"
	},
	{
		date: "2022",
		name: "Mod viewer",
		description: "Every game mod Exerra has published resides here",
		url: "https://mods.exerra.xyz"
	},
	{
		date: "2022",
		name: "Phishing API",
		description: "API for checking if links are known phishing attempts",
		url: "https://rapidapi.com/Exerra/api/exerra-phishing-check"
	},
	{
		date: "Since 2019",
		name: "Karen Bot",
		description: "Multi-purpose Discord bot featuring commands for server moderation, sub-reddits, Karen Bot profiles, Spotify songs/albums/artists and more",
		url: "https://karen.exerra.xyz"
	}
]

let knowledge = [
	{
		type: "Language",
		name: "HTML"
	},
	{
		type: "Language",
		name: "CSS"
	},
	{
		type: "Language",
		name: "Javascript"
	},
	{
		type: "Superset",
		name: "Typescript"
	},
	{
		type: "Framework",
		name: "NodeJS"
	},
	{
		type: "Language",
		name: "Swift"
	},
	{
		type: "Framework",
		name: "React"
	},
	{
		type: "Framework",
		name: "Express"
	},
]

---

<Layout title="Exerra" description={`A full-stack developer from Latvia with ${dates.startedWebDev} of experience as a developer.`}>
	<div style={{ backgroundImage: `url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='1920' height='893' viewBox='0 0 1920 893' fill='none'%3E%3Cg filter='url(%23filter0_f)'%3E%3Cellipse cx='630' cy='474.072' rx='510' ry='218.52' fill='%23CCF2FF'%3E%3C/ellipse%3E%3C/g%3E%3Cg filter='url(%23filter1_f)'%3E%3Cellipse cx='1290' cy='474.072' rx='510' ry='218.52' fill='%23E6FFCC'%3E%3C/ellipse%3E%3C/g%3E%3Cg filter='url(%23filter2_f)'%3E%3Cellipse cx='1468.95' cy='371.297' rx='331.053' ry='171.297' fill='%23FFE6EE'%3E%3C/ellipse%3E%3C/g%3E%3Cg filter='url(%23filter3_f)'%3E%3Cellipse cx='449.895' cy='371.297' rx='329.895' ry='171.297' fill='%23EEE6FF'%3E%3C/ellipse%3E%3C/g%3E%3Cg filter='url(%23filter4_f)'%3E%3Cellipse cx='960' cy='538.888' rx='580' ry='142.594' fill='%23FFEECC'%3E%3C/ellipse%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f' x='-80' y='55.5518' width='1420' height='837.04' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'%3E%3C/feFlood%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'%3E%3C/feBlend%3E%3CfeGaussianBlur stdDeviation='100' result='effect1_foregroundBlur'%3E%3C/feGaussianBlur%3E%3C/filter%3E%3Cfilter id='filter1_f' x='580' y='55.5518' width='1420' height='837.04' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'%3E%3C/feFlood%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'%3E%3C/feBlend%3E%3CfeGaussianBlur stdDeviation='100' result='effect1_foregroundBlur'%3E%3C/feGaussianBlur%3E%3C/filter%3E%3Cfilter id='filter2_f' x='937.895' y='0' width='1062.11' height='742.595' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'%3E%3C/feFlood%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'%3E%3C/feBlend%3E%3CfeGaussianBlur stdDeviation='100' result='effect1_foregroundBlur'%3E%3C/feGaussianBlur%3E%3C/filter%3E%3Cfilter id='filter3_f' x='-80' y='0' width='1059.79' height='742.595' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'%3E%3C/feFlood%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'%3E%3C/feBlend%3E%3CfeGaussianBlur stdDeviation='100' result='effect1_foregroundBlur'%3E%3C/feGaussianBlur%3E%3C/filter%3E%3Cfilter id='filter4_f' x='180' y='196.294' width='1560' height='685.188' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'%3E%3C/feFlood%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'%3E%3C/feBlend%3E%3CfeGaussianBlur stdDeviation='100' result='effect1_foregroundBlur'%3E%3C/feGaussianBlur%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E ")` }} class={"h-screen bg-no-repeat bg-cover"}>
		<Navbar />
		<Header />
	</div>

	<Section name="About me">
		<div class={"flex flex-wrap gap-6 transition ease-in-out"}>
			<div class={"w-full basis-1/1 grow lg:basis-1/3 shadow-2xl bg-white rounded-lg p-10"}>
				<h2 class="text-3xl font-bold">Bio 🤔</h2>
				<p class="text-lg">
					I am a full-stack developer from
					<a
						href="https://www.latvia.travel/en"
						target={"_blank"}
						class={"inline-flex transition duration-150 ease-in-out text-red-800 decoration-red-800 font-bold link link-underline link-underline-black"}
					>
						Latvia&nbsp;
						<Twemoji emoji={"🇱🇻"} />
					</a>&nbsp;with {dates.startedWebDev} years of experience as a web developer and {dates.startedFullStackDev} years as a full-stack developer</p>
			</div>

			<div class={"w-full basis-1/1 grow lg:basis-1/3 shadow-2xl bg-white rounded-lg p-10"}>
				<h2 class="text-3xl font-bold">Education 🎓️</h2>
				<p class="text-lg">I am entirely self-taught from various resources, friends and massive amounts of StackOverflow</p>
			</div>

			<div class={"w-full basis-1/1 grow lg:basis-1/3 shadow-2xl bg-white rounded-lg p-10"}>
				<h2 class="text-3xl font-bold">Hobbies 🎮️️</h2>
				<p class="text-lg">Apart from coding itself, I also enjoy playing various video games & playing the saxophone 🎷</p>
			</div>
		</div>
	</Section>

	<Section name={"Projects"}>
		<div class={"flex flex-wrap gap-6"}>
			{work.map(({ date, name, description, url }) => (
				<ProjectCard 
					date={date} 
					name={name} 
					description={description} 
					href={url} 
					label={"Visit the project"} 
				/>
			))}
		</div>
	</Section>


	<Section name={"Packages"}>
		<div class={"flex flex-wrap gap-6"}>
			{npm.packages.objects.map((pkg) => (
				<ProjectCard 
					date={new Date(pkg.created.ts).getFullYear()} 
					name={pkg.name} 
					description={pkg.description} 
					href={`https://npmjs.com/package/${pkg.name}`} 
					label={"View on NPM"} 
				/>
			))}
		</div>
	</Section>

	<Section name={"My knowledge"}>
		<div class={"flex gap-6 flex-wrap"}>
			{knowledge.map(knowledge => (
				<div class={"w-full basis-1/3 grow lg:basis-1/5 shadow-2xl bg-white rounded-lg p-10"}>
					<h2 class="font-sm font-bold text-highlight">{knowledge.type}</h2>
					<h3 class={"text-3xl font-bold"}>{knowledge.name}</h3>
				</div>
			))}
		</div>
	</Section>
</Layout>
<style is:global>
	.link-underline {
		border-bottom-width: 0;
		background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
		background-size: 0 3px;
		background-position: 0% 100%;
		background-repeat: no-repeat;
		transition: background-size 150ms ease-in-out;
	}

	.link-underline-black {
		background-image: linear-gradient(transparent, transparent), linear-gradient(#991b1b, #991b1b);
	}

	.link-underline:hover {
		background-size: 130% 3px;
		background-position: 0% 100%;
	}
</style>