---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Navbar from '../components/Navbar.astro';
import Section from '../components/Section.astro';
import getNPMPackages from '../util/npm';
import ProjectCard from '../components/ProjectCard.astro';
import AboutCard from '../components/AboutCard.astro';
import Quote from '../components/Quote.astro';
import { Image } from '@astrojs/image/components';
import work from '../data/work';
import knowledge from '../data/knowledge';

const npm = await getNPMPackages()

let currentDate = new Date() // calculates web dev and fullstack dev time
let currentYear = currentDate.getFullYear()

let dates = {
	startedWebDev: currentYear - 2019,
	startedFullStackDev: currentYear - 2020
}

---

<Layout title="Exerra" description={`A full-stack developer from Latvia with ${dates.startedWebDev} of experience as a developer.`}>
	<div class={"h-screen"}>
		<Navbar />
		<header class="grid lg:grid-cols-2 mt-12 lg:mt-16 lg:pt-32 xl:pt-0 3xl:pt-32">
			<div>
				<Header />
			</div>
			<div class="md:hidden lg:my-auto lg:ml-auto relative lg:block mt-16 flex flex-row">
				<Image src={"/sunset.png"} height={600} width={600} alt="Decorative image of a sunset" class="rounded-tr-[115px] lg:rounded-tl-[115px] lg:rounded-tr-[0px] pr-10 lg:pr-0" />
				<p class="text-right font-bold -rotate-90 absolute right-0 bottom-52 -m-7 lg:hidden">← scroll down</p>
			</div>
		</header>
	</div>

	<Section name="About me">
		<div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
			<div class={"flex flex-wrap gap-6 transition ease-in-out"}>
				<AboutCard title="Bio">
					I am a full-stack developer from
					<a
						href="https://www.latvia.travel/en"
						target={"_blank"}
						class={"font-bold"}
					>Latvia
					</a>with {dates.startedWebDev} years of experience as a web developer and {dates.startedFullStackDev} years as a full-stack developer.
					I have also won <b>first place</b> in a <b>country-wide hackathon</b>.
				</AboutCard>
	
				<AboutCard title="Education">
					I am entirely self-taught from various resources, friends and massive amounts of StackOverflow
				</AboutCard>
	
				<AboutCard title="Hobbies">
					I have a professional education in music, and I enjoy playing the saxophone and piano in my free time.
					I haven't released any music yet, but that might change soon.
					In addition to music, I also enjoy playing video games, particularly RPGs (especially those by Bethesda) and stealth games.
				</AboutCard>
			</div>

			<Quote author="Dagoth Ur" source={"Morrowind (2002)"}>
				What a fool you are, I'm a god!
				How can you kill a god? What a grand and intoxicating innocence!
				How could you be so naive? There is no escape, no recall or intervention can work in this place!
				Come! Lay down your weapons! It is not too late for my mercy...
			</Quote>
		</div>
	</Section>

	<section class="bg-black mt-52 pb-12 md:pb-24 lg:pb-36 rounded-tl-[60px] rounded-br-[60px] lg:rounded-tl-[90px] lg:rounded-br-[90px] text-beige text-left blackArea">
		<div class="grid md:grid-cols-1 lg:grid-cols-2">
			<div class="sm:hidden mr-auto relative flex flex-row">
				<p class="text-left font-bold -rotate-90 absolute left-0 bottom-36 mr-7 pb-16 text-beige">← keep scrolling</p>
				<Image src={"/sailboat.png"} height={700} width={700} alt="Decorative image of a sailboat" class="pl-[55px] w-[400px] lg:h-[400px] lg:w-[400px] xl:h-[600px] xl:w-[600px] 2xl:h-[700px] 2xl:w-[700px] rounded-bl-[115px] ml-auto left-0" />
			</div>
			<div class={`mt-12 mx-8 mb-12 md:mt-24 md:mx-24 lg:mb-0 lg:mt-52 lg:ml-52 lg:mr-0`}>
				<h2 class="font-bold text-4xl md:text-6xl lg:text-8xl">My projects</h2>
				<p class="mt-10 text-3xl">
					I've built things ranging from NPM packages, websites, apps, APIs and more.
					<b>Here are a few of my favourite projects & my NPM packages</b>.
				</p>
			</div>
			<div class="hidden lg:block ml-auto">
				<Image src={"/sailboat.png"} height={700} width={700} alt="Decorative image of a sailboat" class="h-[400px] w-[400px] lg:h-[400px] lg:w-[400px] xl:h-[600px] xl:w-[600px] 2xl:h-[700px] 2xl:w-[700px] rounded-bl-[115px]" />
			</div>
		</div>

		<section class="mt-12 mx-8 mb-12 md:mx-24 lg:mx-52">
			<div>
				<h3 class="font-bold text-3xl md:text-5xl lg:text-6xl mb-12">Websites & APIs</h3>
				<div class={"flex flex-wrap gap-7 text-left"}>
					{work.map(({ date, name, description, url }) => (
						<ProjectCard 
							date={date} 
							name={name} 
							description={description} 
							href={url} 
							label={"Visit the project"} 
						/>
					))}
				</div>
			</div>

			<div class="mt-24">
				<h3 class="font-bold text-3xl md:text-5xl lg:text-6xl mb-12">NPM packages</h3>
				<div class={"flex flex-wrap gap-7 text-left"}>
					{npm.packages.objects.map(({ created, name, description }) => (
						<ProjectCard 
							date={new Date(created.ts).getFullYear()} 
							name={name} 
							description={description} 
							href={`https://npmjs.com/package/${name}`} 
							label={"View on NPM"} 
						/>
					))}
				</div>
			</div>
		</section>
	</section>

	<Section name="Knowledge">
		<div class={"flex gap-6 flex-wrap"}>
			{knowledge.map(knowledge => (
				<div class={"w-full basis-1/3 grow lg:basis-1/5 shadow-2xl bg-grey-card text-beige rounded-[35px] p-6"}>
					<h2 class="text-3xl font-bold">{knowledge.name}</h2>
					<hr class="border-2 border-beige rounded-xl my-2" />
					<h3 class={"text-xl font-bold"}>{knowledge.type} used in development to {knowledge.used}</h3>
				</div>
			))}
		</div>
	</Section>
</Layout>